body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1{
    color: rgb(141, 141, 236);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(41, 40, 40);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    border-radius: 5px;
    background-color: rgb(241, 29, 29);
    margin-top: 15px;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(197, 16, 16);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}

